ul,
p,
h2,
h5,
blockquote{
  padding: 0;
  margin: 0;
}
li{
  list-style-type: none;
}
a{
  text-decoration: none;
  color: #ffffff;
  font-family: 'Inter';
font-weight: 300;
font-size: 20px;
line-height: 24px;
}
blockquote{
  font-family: 'Inter';
  text-align: center;
font-size: 36px;
line-height: 44px;
color: #0A3853;
}
cite{
  font-family: 'Inter';
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 16px;
  font-style: normal;
font-size: 24px;
line-height: 29px;
text-align: center;
color: #000000;
}
.container{
  max-width: 1440px;
  height: 3680px;
  margin: 0 auto;
  background-color: #ffffff;
}
.content-container{
  width: 1032px;
  margin: 0 auto;
}
body{
  font-family: 'HeadlandOne', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
}
/* header */
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1440px;
  padding: 39px 49px 39px 204px;
  background-image: linear-gradient(rgba(43, 74, 97, 0.87),rgba(43, 74, 97, 0.87)),url("../backimg/header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 150px;
  border-bottom: 3px solid #FFFFFF;
}
.header-wrapper {
  width: 1032px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-list{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Inter';
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
}
.nav-list a:hover,
.nav-list a:focus {
  color:  #94cfff;
  font-weight: 600;
}
.nav-list li{
  list-style-type: none;
}
.lang{
  color: #ffffff;
  font-family: 'Hammersmith One';
  font-size: 16px;
  line-height: 20px;
}
/* header button */
.header-btn{
  width: 141px;
height: 42px;
box-sizing: border-box;
line-height: 25px;
color: #26C6EA;
background: #0B0E66;
border: 2px solid #26C7EA;
padding: 9px 38px 8px 38px;
border-radius: 35px 0px;
}
.nav-menu{
  margin-left: 168px;
  margin-right: 212px;
  width: 325px;
  height: 24px;
}
.languages{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 121px;
  height: 34px;
}
/* Checkbox */
.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 36px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  background: rgba(43, 74, 97, 0.87);
  border-radius: 50px;
  border: 1px solid white;
  overflow: hidden;
  transition: all 0.4s cubic-bezier(0.215, 0.610, 0.355, 1);
}

.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  right: 0.3em;
  bottom: 0.2em;
  transform: translateX(150%);
  background-color: #FFFFFF;
  border-radius: inherit;
  transition: all 0.3s cubic-bezier(0.215, 0.610, 0.355, 1);
}

.slider:after {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 0.3em;
  bottom: 0.2em;
  background-color: #FFFFFF;
  border-radius: inherit;
  transition: all 0.3s cubic-bezier(0.215, 0.610, 0.355, 1);
}

.switch input:focus + .slider {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.switch input:checked + .slider:before {
  transform: translateY(0);
}

.switch input:checked + .slider::after {
  transform: translateX(-150%);
}
/* hero */
.hero{
  width: 1440px;
  background-image: url("../backimg/hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 180px 0;
}
.text-hero-1{
  font-family: 'Inter';
font-size: 20px;
line-height: 24px;
color: #FFFFFF;
}
.text-hero-2{
  font-family: 'Inter';
  width: 376px;
  height: 123px;
font-size: 20px;
line-height: 24px;
color: #FFFFFF;
}
.div-hero{
  width: 376px;
display: flex;
margin-left: 204px;
}
.hero-btn{
  font-family: 'HeadlandOne';
font-size: 24px;
line-height: 30px;
text-align: center;
color: #26C7EA;
width: 260px;
height: 80px;
background: #0B0E66;
border: 3px solid #26C7EA;
border-radius: 45px 0px;
margin-top: 42px;
}
.hero-arrow{
  margin-left: 53px;
}
.programs{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-left: 606px;
  align-self: center;
  width: 50px;
  height: 141px;
}
.instagram{
  width: 30px;
  height: 30px;
  margin-bottom: 24px;
}
.twitter{
  width: 33px;
  height: 30px;
  margin-bottom: 27px;
}
  .youtube{
  width: 50px;
  height: 30px;
  }
/* end of hero */
/* bottom-hero */
.bottom-hero{
  padding-top: 75px;
  background-color: #FFFFFF;
}
.bottom-hero img{
  margin: 8px 521px 10px 521px;
}
/* treiler */
.treiler{
  width: 1440px;
  height: 741px;
  background-image:url("../backimg/secondmain.jpg") ;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 330px 590px 330px 591px;
}
.treiler-btn{
  width: 260px;
height: 80px;
font-size: 24px;
line-height: 30px;
color: #26C7EA;
background: #0B0E66;
border: 3px solid #26C7EA;
border-radius: 45px 0px;
}
/* bottom-main */
.bottom-main-2{
  padding-top: 75px;
  background-color: #FFFFFF;
}
.bottom-main-2 img{
  margin: 8px 521px 10px 521px;
}
/* navi */
.navi img{
  margin: 40px 84px;
  width: 152px;
  height: 40px;
}
.navi{
  background-image: url("../backimg/thirdmain.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 1440px;
  height: 704px;
}
.navi h5{
  display: flex;
  justify-content: center;  
font-family: 'HeadlandOne';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 40px;
text-align: justify;
color: #141414;
padding-top: 58px;
margin-bottom: 45px;
}
.blocks{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1032px;
font-size: 24px;
line-height: 24px;
text-align: justify;
color: #141414;
}
.block{
  width: 320px;
  height: 240px;
  background-color: rgba(255, 255, 255, 0.7);
  padding:36px 0;
}
.block:nth-child(-n+3){
  margin-bottom: 24px;
}
.text-avatar{
  color: #000000;
  text-align: center;
}
.text-avatar-ukr{
  font-size: 24px;
line-height: 1;
text-align: center;
color: #141414;
}
/* bottom-main-3 */
.bottom-main-3{
  padding-top: 75px;
  background-color: #FFFFFF;
}
.bottom-main-3 img{
  margin: 8px 521px 10px 521px;
}
/* footer */
.footer-wrapper{
  display: flex;
  width: 1032px;
  margin: 0 auto;
}
footer {
  width: 1440px;
  padding: 35px 0;
  background-image: linear-gradient(
      rgba(43, 74, 97, 0.87),
      rgba(43, 74, 97, 0.87)
    ),
    url("../backimg/footer.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.footer-wrapper {
  display: flex;
  width: 1032px;
}

.footer-left {
  display: flex;
  align-items: center;
  width: 263px;
  height: 15;
  margin-right: 80px;
  border-right: 2px solid #FFFFFF;
}
.footer-logo {
  width: 183px;
  height: 70px;
  margin-right: 80px;
}
/* right */
.footer-right {
  display: flex;  
  flex-direction: column;
  width: 690px;
  font-family: "Inter";
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}

.footer-list-item {
  display: flex;
  margin-top: 45px;
  margin-bottom: 16px;
}
.footer-list-item-2 {
  display: flex;
  margin-bottom: 27px;
}

.border {
  margin: 0 20px;
}
.rights {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  line-height: 17px;
  text-align: justify;
  width: 348px;
  color: #ffffff;
  margin-left: 131px;
}
/* modal */
.backdrop{
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items:center;
  width: 100%;
  height: 100%;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.3);
}
.modal-form{
  position: fixed;
  background-image: url(../backimg/modal-second.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 600px;
  padding: 111px 80px 23px;
    z-index: 100;

}
.close-btn{
  position: absolute;
  background: transparent;
  border: none;
  top: 16px;
  right: 16px;
}
.close-svg{
  fill: #0B0E66;
}
.modal-list{
  margin-bottom: 40px;
}
.modal-label{
  display: flex;
  flex-direction: column;
  color: #0B0E66;
text-align: center;
font-family: Inter;
font-size: 24px;
line-height: normal;
}
.modal-input{
  border: 2px solid #0B0E66;
background: #FFF;
}
.modal-input:nth-child(1){
  margin-bottom: 12px;
}
.join-btn{
  display: block;
  margin: 0 auto;
  width: 260px;
height: 80px;
  border-radius: 45px 0px;
border: 3px solid #26C7EA;
background: #0B0E66;
color: #26C7EA;
text-align: center;
font-size: 24px;
font-weight: 400;
line-height: normal;
}
/* secon-modal */
.info-modal{
  width: 600px;
  padding: 51px 112px 172px;
  position: fixed;
  background-image: url(../backimg/modal-first.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 100;
}
.gratulation-info{
  color: #FFF;
text-align: center;
font-size: 24px;
line-height: normal;
font-weight: 400;
margin-bottom: 80px;
}
.close-svg-info{
  fill: #FFF;
}
.banshi{
  color: #FFF;
text-align: center;
font-size: 24px;
font-weight: 400;
line-height: normal;
}
.is-hidden{
  opacity: 0;
  pointer-events: none;
}
/* treiler-modal */
.modal-form-treiler{
  position: fixed;
  background-image: url(../backimg/modal-treiler.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 500px;
  height: 300px;
    z-index: 100;
    padding: 70px 50px;
}
.telegram-icon{
  width: 24px;
  height: 24px;
  fill: #75e5fe;
}
.telegram-btn{
  display: block;
  margin: 0 auto;
  width: 260px;
height: 80px;
  border-radius: 45px 0px;
border: 3px solid #26C7EA;
background: #0B0E66;
color: #26C7EA;
text-align: center;
font-size: 24px;
font-weight: 400;
line-height: normal;
margin-bottom: 10px;
}
.close-t-svg{
  fill: #FFF;
}
.close-t-svg:hover{
  fill:  red;
  cursor: pointer;
}
.click{
  color: gold;
text-align: center;
font-size: 24px;
font-weight: 500;
line-height: normal;
}